
.navbar-nav a {
    position: relative;
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
    transition: all ease-in-out .2s;
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
}

.navbar-nav a:hover, .navbar-nav a.link-active {
    color: var(--pink);
}

header {
    position: sticky;
    width: 100%;
    top: 0;
    background-color: black;
    z-index: 1000;
}

header a {
    font-size: 15px;
}

.dropdown-item:hover {
    background-color: var(--main);
}

.dropdown-menu {
    background-color: var(--main);
}

.navbar .dropdown-toggle {
    color: white !important; /* Asegura que el enlace de la lista desplegable mantenga el color blanco */
}

.navbar .dropdown-toggle::after {
    color: white !important; /* Asegura que el icono del caret también sea blanco */
}

@media (max-width: 1200px) {
    .dropdown-menu {
        background-color: black;
    }
    .dropdown-item:hover{
        background-color: black;
    }
    .dropdown-menu a {
        text-align: center !important;
    }
}