@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Poppins','Inter', sans-serif;
}

section {
  margin-bottom: 10rem;
}



h1 {
  font-size: calc(1.7rem + 2vw);
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.2px;
}

h2 {
  font-size: calc(1.4rem + 1.4vw);
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.2px;
}

h3 {
  font-size: calc(1.1rem + 1vw);
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.2px;
}

h4 {
  font-size: calc(1.4rem + 0.2vw);
  font-weight: 500;
}

h5 {
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.3;
  letter-spacing: 1.2px;
}

h6 {
  font-size: 1.09rem;
  font-weight: bolder;
  margin: .8rem 0 .9rem 0 ;
}

.bg-lime {
  background-color: #CFE276;
}

/* styles.css */
.slider-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.slide {
  min-width: 100%;
  transition: transform 0.5s ease-in-out;
}


/* ANIMACIONES */

@keyframes fade-in-up-10 {
  0% {
    opacity: 0;
    transform: translateY(7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-up-20 {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down-10 {
  0% {
    opacity: 0;
    transform: translateY(-7px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-down-20 {
  0% {
    opacity: 0;
    transform: translateY(-14px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes growing {
  0% {
    transform: scale(0.5);
    opacity: 0;
    filter: blur(10px);
    transform-origin: 90% 100%;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
    transform-origin: 90% 100%;
  }
}

.fade-in-up-10 {
  opacity: 0; /* Start hidden */
  animation: fade-in-up-10 0.7s ease-in-out forwards;
}

.fade-in-up-20 {
  opacity: 0; /* Start hidden */
  animation: fade-in-up-20 1s ease-out forwards;
}

.fade-in-down-10 {
  opacity: 0; /* Start hidden */
  animation: fade-in-down-10 0.5s ease-in-out forwards;
}

.fade-in-down-20 {
  opacity: 0; /* Start hidden */
  animation: fade-in-down-20 0.5s ease-in-out forwards;
}

.fade-in-left {
  opacity: 0; /* Start hidden */
  animation: fade-in-left 0.5s ease-out forwards;
}

.fade-in-right {
  opacity: 0; /* Start hidden */
  animation: fade-in-right 0.5s ease-out forwards;
}

.growing {
  opacity: 0; /* Start hidden */
  animation: growing 0.3s ease-in-out forwards;
}

.fade-in-up-10-delayed {
  opacity: 0; /* Start hidden */
  animation: fade-in-up-10 0.7s ease-in-out .3s forwards; /* 1s delay */
}

.fade-in-up-20-delayed {
  opacity: 0; /* Start hidden */
  animation: fade-in-up-20 1s ease-out .3s forwards; /* 1s delay */
}

.fade-in-down-10-delayed {
  opacity: 0; /* Start hidden */
  animation: fade-in-down-10 0.5s ease-in-out.3s forwards; /* 1s delay */
}

.fade-in-down-20-delayed {
  opacity: 0; /* Start hidden */
  animation: fade-in-down-20 0.5s ease-in-out .3s forwards; /* 1s delay */
}

.fade-in-left-delayed {
  opacity: 0; /* Start hidden */
  animation: fade-in-left 0.5s ease-out .3s forwards; /* 1s delay */
}

.fade-in-right-delayed {
  opacity: 0; /* Start hidden */
  animation: fade-in-right 0.5s ease-out .3s forwards; /* 1s delay */
}

.growing-delayed {
  opacity: 0; /* Start hidden */
  animation: growing 0.3s ease-in-out.31s forwards; /* 1s delay */
}



